[*.cs]

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = silent

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = silent

# SA1649: File name should match first type name
dotnet_diagnostic.SA1649.severity = silent

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent
